<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lend.shareservice.domain.auction.AuctionMapper">
    <resultMap type="com.lend.shareservice.web.auction.dto.AuctionDTO" id="auctionMap">
        <id property="auctionId" column="auctionId" />
        <result property="currentPrice" column="auctionCurrentPrice"/>
        <result property="maxPrice" column="maxPrice"/>
        <result property="userId" column="userId"/>
        <collection property="boards" javaType="java.util.ArrayList"
                    ofType="com.lend.shareservice.web.auction.dto.AuctionBoardDTO">
            <result property="boardId" column="boardId"/>
            <result property="title" column="title"/>
            <result property="itemImage1" column="itemImage1"/>
            <result property="price" column="price"/>
            <result property="itemName" column="itemName"/>
            <result property="interestCnt" column="interestCnt"/>
            <result property="hits" column="hits"/>
            <result property="isAuction" column="isAuction"/>
            <result property="isLend" column="isLend"/>
            <result property="latitude" column="latitude"/>
            <result property="longitude" column="longitude"/>
            <result property="deadline" column="deadline"/>
        </collection>
        <collection property="participantAuctions" javaType="java.util.ArrayList"
                    ofType="com.lend.shareservice.entity.Participant_Auction">
            <result property="currentPrice" column="participantCurrentPrice"/>
        </collection>
    </resultMap>

    <resultMap type="com.lend.shareservice.entity.Participant_Auction" id="participantAuctionMap">
    </resultMap>

    <select id="auctions" parameterType="map" resultMap="auctionMap">
        select
        a.auctionId,a.userId,b.deadline,b.title,b.itemImage1,b.isAuction,b.isLend
        ,b.price,b.itemName,b.latitude,b.longitude
        ,b.hits,b.interestCnt
        ,a.currentPrice as auctionCurrentPrice
        ,a.maxPrice
        ,p.currentPrice as participantCurrentPrice
        from auction a
        inner join board b
        on a.boardId=b.boardId
        inner join participant_Auction p
        on a.auctionId=p.auctionId
        <where>
        b.isAuction=1
        and p.userId=#{userId}
        and a.currentPrice = (
            select
                currentPrice
            from auction a2
            where a2.auctionId=a.auctionId
            group by auctionId )
        </where>
        order by b.deadline limit #{limit} offset #{offset}
    </select>

    <select id="completeAuctions" parameterType="map" resultMap="auctionMap">
        select
        a.auctionId,a.userId,b.deadline,b.title,b.itemImage1,b.isAuction,b.isLend
        ,b.price,b.itemName,b.latitude,b.longitude
        ,b.hits,b.interestCnt
        ,a.maxPrice
        ,a.currentPrice as auctionCurrentPrice
        ,p.currentPrice as participantCurrentPrice
        from auction a
        inner join board b
        on a.boardId=b.boardId
        inner join participant_Auction p
        on a.auctionId=p.auctionId
        <where>
            b.isAuction=2
            and p.userId=#{userId}
            and a.currentPrice = (
            select
                currentPrice
            from auction a2
            where a2.auctionId=a.auctionId
            group by auctionId )
        </where>
        order by b.deadline limit #{limit} offset #{offset}
    </select>

    <select id="getAuctionCount" parameterType="String" resultType="_int">
        select count(*) from participant_Auction p
        inner join auction a
        on p.auctionId=a.auctionId
        inner join board b
        on a.boardId=b.boardId
        <where>
            p.userId=#{values}
            and b.isAuction=1
        </where>
    </select>

    <select id="getCompleteAuctionCount" parameterType="String" resultType="_int">
        select count(*) from participant_Auction p
        inner join auction a
        on p.auctionId=a.auctionId
        inner join board b
        on a.boardId=b.boardId
        <where>
            p.userId=#{values}
            and b.isAuction=2
        </where>
    </select>

    <update id="updateCurrentPrice" parameterType="map">
        update auction a,participant_Auction p
        set a.currentPrice=#{currentPrice},
            p.currentPrice=#{currentPrice},
            a.userId=#{userId}
        <where>
            a.auctionId=#{auctionId}
            and a.auctionId=p.auctionId
            and p.userId=#{userId}
        </where>
    </update>

    <select id="getMaxPrice" parameterType="_int">
        select maxPrice from auction
        <where>
            auctionId=#{values}
        </where>
    </select>

    <select id="selectAuctionByBoardId" parameterType="_int" resultType="com.lend.shareservice.entity.Auction">
        SELECT * FROM AUCTION
        WHERE boardId = #{boardId}
    </select>

    <insert id="insertAuction" parameterType="com.lend.shareservice.entity.Auction">
        <selectKey keyProperty="auctionId" resultType="java.lang.Integer" order="AFTER" keyColumn="auctionId">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO AUCTION (currentPrice, regDate, maxPrice, boardId, userId)
        VALUES (0, NOW(), #{maxPrice}, #{boardId}, null)
    </insert>

    <select id="selectAuctionId" parameterType="com.lend.shareservice.entity.Auction" resultType="com.lend.shareservice.entity.Auction">
        SELECT * FROM AUCTION
        WHERE boardId = #{boardId}
    </select>

    <insert id="insertAuctionParticipant" parameterType="com.lend.shareservice.entity.Participant_Auction">
        INSERT INTO participant_auction (userId, auctionId)
        VALUES (#{userId}, #{auctionId})
    </insert>

    <select id="selectMaxPrice" parameterType="com.lend.shareservice.entity.Auction" resultType="com.lend.shareservice.entity.Auction">
        SELECT maxPrice FROM BOARD
        WHERE boardId = #{boardId}
    </select>

    <select id="selectIsAuctionById" parameterType="string" resultType="_int">
        SELECT COUNT(*)
        FROM Participant_Auction
        WHERE userId = #{userId}
    </select>

    <select id="selectParticipantCnt" parameterType="com.lend.shareservice.entity.Auction" resultType="_int">
        SELECT COUNT(*)
        FROM Participant_Auction
        WHERE auctionId = #{auctionId}
    </select>

    <select id="selectIdsByAuctionId" parameterType="Integer" resultType="java.lang.String">
        SELECT userId
        FROM Participant_Auction
        WHERE auctionId = #{auctionId}
    </select>

    <update id="updateIsAuction" parameterType="_int">
        update board
        set isAuction=2
        <where>
            boardId=(select boardId
                      from auction
                     <where>
                       auctionId=#{value}
                     </where>
                    )
        </where>
    </update>
    <select id="getCurrentPrice" parameterType="_int">
        select currentPrice
        from auction
        <where>
            auctionId=#{value}
        </where>
    </select>


</mapper>