<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lend.shareservice.domain.auction.AuctionMapper">
    <resultMap type="com.lend.shareservice.web.auction.dto.AuctionDTO" id="auctionMap">
        <id property="auctionId" column="auctionId" />
        <result property="currentPrice" column="currentPrice"/>
        <result property="maxPrice" column="maxPrice"/>
        <collection property="boards" javaType="java.util.ArrayList"
                    ofType="com.lend.shareservice.web.auction.dto.AuctionBoardDTO">
            <result property="boardId" column="boardId"/>
            <result property="title" column="title"/>
            <result property="itemImage1" column="itemImage1"/>
            <result property="price" column="price"/>
            <result property="itemName" column="itemName"/>
            <result property="interestCnt" column="interestCnt"/>
            <result property="hits" column="hits"/>
            <result property="isAuction" column="isAuction"/>
            <result property="isLend" column="isLend"/>
            <result property="latitude" column="latitude"/>
            <result property="longitude" column="longitude"/>
            <result property="deadline" column="deadline"/>
        </collection>
    </resultMap>

    <resultMap type="com.lend.shareservice.entity.Participant_Auction" id="participantAuctionMap">
    </resultMap>

    <select id="auctions" parameterType="map" resultMap="auctionMap">
        select
        b.deadline,b.title,b.itemImage1,b.isAuction,b.isLend
        ,b.price,b.itemName,b.latitude,b.longitude
        ,b.hits,b.interestCnt
        ,a.currentPrice,a.maxPrice
        from auction a
        inner join board b
        on a.boardId=b.boardId
        inner join participant_Auction p
        on a.auctionId=p.auctionId
        <where>
        b.isAuction=1
        and p.userId=#{userId}
        </where>
        order by b.deadline limit #{limit} offset #{offset}
    </select>

    <select id="getAuctionCount" parameterType="String" resultType="_int">
        select count(*) from participant_Auction
        <where>
            userId=#{values}
        </where>
    </select>
</mapper>