<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lend.shareservice.domain.chat.ChatMapper">
    <insert id="insertTest" parameterType="string">
        insert into test
        values(1,#{test})
    </insert>
    <select id="selectItem" resultType="com.lend.shareservice.entity.Board" parameterType="Integer">
        select title,writer,itemImage1 from board
        <where>
            boardId = #{value}
        </where>
    </select>
    <insert id="createRoom" parameterType="com.lend.shareservice.entity.Chatroom">
        insert into Chatroom (chatId, boardId, lendy, lender, chatDate)
        values(#{chatId},#{boardId},#{lendy},#{lender},#{chatDate})
    </insert>
    <select id="selectChatId" resultType="Integer" parameterType="com.lend.shareservice.entity.Chatroom">
        select chatId from chatRoom
       <where>
           lendy=#{lendy} and lender=#{lender} and boardId=${boardId}
       </where>
    </select>
    <insert id="insertChat" parameterType="com.lend.shareservice.entity.Message">
        insert into Message (chatId, `from`, `to`, content, sendTime)
        values(#{chatId},#{from},#{to},#{content},#{sendTime})
    </insert>
    <select id="findChatList" resultType="com.lend.shareservice.entity.Message">
        select m2.`to` as `to`, m2.`from` as `from`,
        m2.chatId as chatId,m2.content as content,
        m2.sendTime as sendTime,m2.isRead as isRead
        from (
        select m.chatId,max(m.sendTime) as maxSendTime
        from message as m
        group by m.chatId
        ) as m1
        inner JOIN message m2 on m1.chatId=m2.chatId and m1.maxSendTime=m2.sendTime
        where `from`=#{userId} or `to`=#{userid}
    </select>
    <select id="loadMessage" parameterType="com.lend.shareservice.entity.Message">
        select `from`, `to`, chatId, content, sendTime
        from message
        <where>
            chatId = #{chatId}
        </where>
    </select>
    <select id="getChatRoomById" parameterType="com.lend.shareservice.entity.Chatroom">
        select * from chatRoom
        <where>
            chatId = #{chatId}
        </where>
    </select>
</mapper>