<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lend.shareservice.domain.notification.NotificationMapper">

    <insert id="insertNotification" parameterType="com.lend.shareservice.entity.Notification">
        <selectKey keyProperty="notiId" resultType="java.lang.Integer" order="AFTER" keyColumn="notiId">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO NOTIFICATION (userId, content, isRead, notiRegDate, boardId)
        VALUES(#{userId}, #{content}, #{isRead}, NOW(), #{boardId})
    </insert>

    <select id="selectNotificationsByUserId" parameterType="string" resultType="com.lend.shareservice.entity.Notification">
        SELECT * FROM NOTIFICATION
        WHERE userId = #{userId}
    </select>

    <!-- 알림 삭제 byId   -->
    <delete id="deleteNotification" parameterType="_int">
        DELETE FROM notification
        WHERE notiId = #{notiId}
    </delete>
</mapper>